# EmailJS konfiguracija
# Registrirajte se na https://www.emailjs.com i kreirajte service, template i kopirajte ključeve

VITE_EMAILJS_SERVICE_ID=service_qc6cltk
VITE_EMAILJS_TEMPLATE_ID=template_0ry1i2n
VITE_EMAILJS_PUBLIC_KEY=7Rq89C7EupH2KbMPr
