<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /programs/RailCircle/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /programs/RailCircle/index.html [L]
</IfModule>
